@import "tailwindcss";

@layer utilities {
  .font-source {
    font-family: "Source Sans 3", sans-serif;
  }
  .font-mont {
    font-family: "Montserrat", sans-serif;
  }
  .font-sand {
    font-family: "Quicksand", sans-serif;
  }
  .font-pop {
    font-family: "Poppins", sans-serif;
  }
}

@theme{
  --radius-5xl: 40px;
  --color-primary: #2D3748;
  --color-secondary: #58595B;
  --colot-theritiary: #3881C3;
  --color-fire: #F16465;
  --color-accent: #D17C28;
  --color-line: #A0AEC0;
  --color-background: #D17C28;

}

@utility rounded-5xl{
  border-radius: var(--radius-5xl)
}
@utility text-primary{
  color: var(--color-primary)
}
@utility text-secondary{
  color: var(--color-secondary)
}
@utility text-accent{
  color: var(--color-accent)
}
@utility bg-accent{
  background-color: var(--color-background)
}
@utility bg-theritiary{
  background-color: var(--colot-theritiary)
}
@utility bg-fire{
  background-color: var(--color-fire)
}
@utility bg-lightgray{
  background-color: var(--color-line)
}